*{
    margin:0;
    padding:0
}

/* Fuentes texto */
@font-face {
   font-family: 'Carter';
   src: url('./fonts/CarterOne-Regular.ttf');
 }
 @font-face {
   font-family: 'Ubuntu';
   src: url('./fonts/Ubuntu-Regular.ttf');
 }

 /* --Encabezado-- */
body{
    background-image:url(./img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
}

.encabezado{
    background-image: url(./img/titulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -5px;
    min-width: 90%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 h1{
    font-family: 'Carter';
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #634014f3;
    font-size: 1rem;
    margin-top: 26px;

 }
 /* --clave- */
 .div-Clave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
 }
 div.clave {
    background-image: url(./img/globito.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 60%;
    
 }
 
 
 h3{
    text-align: center;
    font-family: 'Ubuntu';
    color: rgb(59, 59, 59);
    margin-top: -10px;
    width: 50%;
 
 }
 .resp {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
 }
 .numero{
    text-align: center;
    width: 50%;
    font-family: 'Ubuntu';
    border: none;
    border-radius: 20%;
    padding: 1rem;
    font-size: 0.6rem;
 }
 
 .mostrar{
    text-align: center;
    width: 50%;
    padding:1rem
 }
 
 div.botones{
    background-image: url(./img/quokka1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 70%;
    width: 70%;
    position: absolute;
    bottom: 20px;
    left: -10%;
    display: flex;
 }
 
 button{
   height: 10%;
   width: 23%;  
   display: flex;
   text-align: center;
     justify-content: center;
   align-items: center;
 
   font-family: 'Carter';
   font-weight:lighter;
   letter-spacing: 0.3px;
   background-color:#634014f3;
   color: white;
   border: 3px;
  border-radius: 25%;
  cursor: pointer;
 }
 .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    min-height: 180px;
 }
 .boton1,.boton2{
    font-size: 1rem;
    min-width: 35%;
    padding: 0.7rem;
    margin-left: 10px;
 }
 
 
 div.mensajes{
    position: absolute;
    bottom: 70px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 5%;
    width: 50%;
 }
 .mensaje1,.mensaje2{
    height: 30%;
    border-radius: 25%;
    background-color: #e1f8eab4;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 
 textarea{
    text-align: center;
    font-family: 'Ubuntu';
    height: 60%;
    width: 75%;
    border-radius: 25%;
    resize: none;
    padding: 7%;
    border: none;
    font-size: 0.8rem;
   
 }
 .mensaje1{
   margin-bottom: 5%;
 }
 
 
  textarea:focus {
   background   : #ffffffef;
  color: rgb(0, 0, 0);
 
 }
 
 button:focus {
   background   : rgba(95, 116, 63, 0.63);
  }   


footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgba(250, 235, 215, 0.692);
    font-family: 'Ubuntu';
    font-size: 0.7rem;

}
.copy{
    padding: 5px;
}

@media (min-width:419px){
header{
    height: 15%;
}
h1{
    font-size: 1.3rem;
    margin-top: 36px;
}
.buttons{
    left:-30px
}

} 

@media (min-width:500px){
    header{
        height: 15%;
    }
    h1{
        font-size: 1.5rem;
        margin-top: 36px;
    }
    .buttons{
        left:-50px
    }
    .boton1{
        margin-bottom: 30px;
    }
    } 
@media(min-width:700px){
h1{
    font-size: 2rem;
}
.clave{
    min-width: 90%;
}
h3{
    width: 30%;
    padding: 2rem;
    font-size: 1.5rem;
}
textarea{
    font-size: 1.3rem;
}
.boton1,.boton2{
    font-size: 1.3rem;
    min-width: 35%;
    padding: 1rem;
    margin-left: 10px;

} 
.buttons {
    left: -70px;
    bottom:6rem
}
.numero{
    font-size: 1rem;
}
.mostrar{
    font-size:0.8rem
}
}

@media ( min-width:900px){
    div.encabezado{
        width: 56%;
        height: 19%;
        padding: 2%;
        display: flex;
        justify-content: center;
        }
    
    h1{
    font-size: 2rem;
    }
    
    div.mensajes{
        max-height: 700px;
        top: 20vh;
        width: 60%;
        margin-right: 50px;
    }
    .mensaje1,.mensaje2{
        height: 35%;
        min-width: 300px;
        max-width: 400px;
        margin-inline-start: auto;
        z-index: 2;
    
    }
    textarea, h3,.mostrar{
        font-size: 1.1rem;
    }
    .boton1,.boton2,.mostrar, input.numero{
        /* max-width: 180px; */
        font-size: 0.9rem;
    }
    .mostrar{
        margin-top: 10px;
    }
    .div-Clave{
        position: absolute;
        max-height: 250px;
        max-width: 250px;
        top: 90px;
        right: 50%;
    }
    div.botones{
        left: 14%;
        max-width: 24%;
        justify-content: center;
    }
    .buttons{
        bottom: 2rem;
        /* max-height: 120px; */
        left: 0px;
    
    }
    .boton1{
        margin-bottom:0px;
    }
    .boton1,.boton2, .mostrar{
        /* padding: 25px; */
        margin-left: -10px;
    }
    }

/* @media only screen and (min-width:1000px) and(max-width:610px){
        .mensajes{
            right: 15%;
        }
.div-Clave{
    right: 60%;
    margin-right: 10%;
}
    } */